<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
    
      <!-- <%= render 'shared/error_messages' %>  renders any error messages -->
      <%= render 'shared/error_messages', object: f.object %> <!-- Ch 10 added after microposts resource addition-->
      

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

<!--The code above Produces the HTML below --> 

<!--
   <form accept-charset="UTF-8" action="/users" class="new_user" id="new_user" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="wYwBTXelGMiRbXuT6UVd/jpOfH2s9ZX6imSTIwSNeUA=" /></div>

      <label for="user_name">Name</label>
      <input id="user_name" name="user[name]" size="30" type="text" />

      <label for="user_email">Email</label>
      <input id="user_email" name="user[email]" size="30" type="text" />

      <label for="user_password">Password</label>
      <input id="user_password" name="user[password]" size="30" type="password" />

      <label for="user_password_confirmation">Confirmation</label>
      <input id="user_password_confirmation" name="user[password_confirmation]" size="30" type="password" />

      <input class="btn btn-large btn-primary" name="commit" type="submit" value="Create my account" />
</form>  
-->
